<footer class="footer">
  <div class="footer-content">
    <!-- Left Section -->
    <div class="footer-left">
      <div class="logo-row">
        <img src="assets/images/navbar.png" alt="School Logo" class="" />
        <!-- <span class="school-name">डॉ. अविनाश आचार्य विद्यालय</span> -->
      </div>

      <p class="footer-text">
        Vivekanand Pratishthan has a unique approach to education. Instead of focusing solely on
        slates, notebooks, and books, our concept is more similar to the ancient 'Gurukul' system of
        India.
      </p>
    </div>

    <!-- Right Section -->
    <div class="footer-right">
      <h4>Social Media</h4>
      <div class="social-icons">
        <a href="#" aria-label="Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#" aria-label="YouTube">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Bottom Copyright -->
  <div class="footer-bottom">
    Copyright © 2026 Vivekanand Pratishthan's Sharavan Vikas Mandir | Powered by Sarjana Media
    Solutions Pvt Ltd
  </div>
</footer>
