<footer class="footer mt-5">
  <div class="container footer-content">
    <div class="row gy-5">

      <!-- About Section -->
      <div class="col-lg-4 col-md-6">
        <div class="footer-logo-row">
          <h5 class="footer-brand">Sharavan Vikas Mandir</h5>
        </div>

        <p class="footer-text">
          Vivekanand Pratishthan’s Sharavan Vikas Mandir follows a unique
          educational philosophy inspired by the ancient Gurukul system of India,
          focusing on discipline, character building and holistic development.
        </p>
      </div>

      <!-- Contact Section -->
      <div class="col-lg-4 col-md-6">
        <h5 class="footer-heading">Contact Us</h5>

        <div class="footer-contact">
         <p><i class="fa-solid fa-location-dot"></i> Near Matoshri Vrudhashram, Savkhede BK., Pimprala, Jalgaon</p>
          <p><i class="fa-solid fa-phone"></i> 0257-2280071 | 8799815813</p>
          <p><i class="fa-solid fa-envelope"></i> bgsv@vivekanandpratishthan.com</p>
        </div>
      </div>

      <!-- Location Section -->
      <div class="col-lg-4 col-md-12">
        <h5 class="footer-heading">Our Location</h5>

        <div class="map-box">
           <iframe
          src="https://www.google.com/maps?q=Vivekanand+Pratishthan-BGSV+Savkhede+BK+Jalgaon&z=16&output=embed"
          width="100%"
           height="200"
          style="border:0;"
          allowfullscreen=""
          loading="lazy">
        </iframe>
        </div>
      </div>

    </div>

    <!-- Social Icons Centered -->
    <div class="footer-social text-center mt-5">
      <a href="#" class="social-circle"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="social-circle"><i class="fa-brands fa-youtube"></i></a>
      <a href="#" class="social-circle"><i class="fa-brands fa-instagram"></i></a>
    </div>

  </div>

  <!-- Bottom Copyright -->
  <div class="footer-bottom">
    © 2026 Vivekanand Pratishthan's Sharavan Vikas Mandir |
    Powered by Sarjana Media Solutions Pvt Ltd
  </div>
</footer>
