<nav class="navbar navbar-expand-lg bg-white px-4">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/navbar.png" height="50" />
    </a>

    <!-- Hamburger button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/">मुख्यपृष्ठ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/about">आमच्याबद्दल</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/facilities">सुविधा</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/academics">अभ्यासक्रम</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="/counselling-center">
            समुपदेशन
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="bg-warning" style="height: 4px"></div>
